<div class="container">
  <h1>PSUs</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">Add PSU</button>

  <table mat-table [dataSource]="psus" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="wattage">
      <th mat-header-cell *matHeaderCellDef>Wattage (W)</th>
      <td mat-cell *matCellDef="let element">{{ element.wattage }}</td>
    </ng-container>

    <ng-container matColumnDef="efficiencyRating">
      <th mat-header-cell *matHeaderCellDef>Efficiency Rating</th>
      <td mat-cell *matCellDef="let element">{{ element.efficiencyRating }}</td>
    </ng-container>

    <ng-container matColumnDef="modular">
      <th mat-header-cell *matHeaderCellDef>Modular</th>
      <td mat-cell *matCellDef="let element">{{ element.modular ? 'Yes' : 'No' }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price ($)</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deletePsu(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>