<h2 mat-dialog-title>{{ data && data._id ? 'Edit CPU' : 'Add CPU' }}</h2>
<mat-dialog-content>
  <form [formGroup]="cpuForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="cpuForm.get('name')?.hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" required />
      <mat-error *ngIf="cpuForm.get('brand')?.hasError('required')">
        Brand is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cores</mat-label>
      <input matInput type="number" formControlName="cores" required />
      <mat-error *ngIf="cpuForm.get('cores')?.hasError('required')">
        Cores are required.
      </mat-error>
      <mat-error *ngIf="cpuForm.get('cores')?.hasError('min')">
        Cores must be at least 1.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Threads</mat-label>
      <input matInput type="number" formControlName="threads" required />
      <mat-error *ngIf="cpuForm.get('threads')?.hasError('required')">
        Threads are required.
      </mat-error>
      <mat-error *ngIf="cpuForm.get('threads')?.hasError('min')">
        Threads must be at least 1.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Clock Speed (GHz)</mat-label>
      <input matInput type="number" step="0.1" formControlName="clockSpeed" required />
      <mat-error *ngIf="cpuForm.get('clockSpeed')?.hasError('required')">
        Clock Speed is required.
      </mat-error>
      <mat-error *ngIf="cpuForm.get('clockSpeed')?.hasError('min')">
        Clock Speed must be at least 0.1 GHz.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="cpuForm.invalid" (click)="onSubmit()">Save</button>
</mat-dialog-actions>